@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black transition-colors duration-300;
  }
  .dark body {
    @apply bg-slate-900 text-white;
  }
}